

$colors-map: (
  blue: #0e6cff,
  orange: #ff8700,
  green: #4caf50,
);



@each $color in $colors-map {
    .bg-#{$color} {
        background-color: $color;
    }

    .btn-#{$color} {
        background-color: $color;
    }
}

// questo crea delle classi .bg-colore